<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">

<head>
    <title>New Product</title>
</head>
<body>
<ul >

    <li id="li_1" >
        <label for="element_1">ID </label>
        <div>
            <input id="element_1" name="element_1" type="text" maxlength="255" value=""/>
        </div>
    </li>		<li id="li_2" >
    <label for="element_2">Name </label>
    <div>
        <input id="element_2" name="element_2" type="text" maxlength="255" value=""/>
    </div>
</li>		<li id="li_3" >
    <label  for="element_3">Cost </label>
    <div>
        <input id="element_3" name="element_3" type="text" maxlength="255" value=""/>
    </div>
</li>

    <li class="buttons">
        <input type="hidden" name="form_id" value="39066" />

        <input id="saveForm"  type="submit" name="submit" value="Add" />
    </li>
</ul>

</body>
</html>
